.title {
    min-width: 100%;
    width: 100%;
    height: 25px;

    padding-left: 45px;
    
    display: flex;
    align-items: center;

    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: var(--primary);

    background-color: var(--grey-light);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}