.title {
    min-width: 100%;
    width: 100%;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: var(--white);

    background-color: var(--primary);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}