.list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nameBlock {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-bottom: 1px solid var(--grey-medium);
    border-radius: 0;

    justify-content: flex-start;
    text-align: left;
}