.wrapper {
  width: var(--content-width);
  background-color: #ffff;
  padding: 10px 50px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.editorContainer {
  position: relative;
  width: 710px;
  max-width: 710px;
  height: 100%;
  /* overflow: hidden; */
  line-height: 1.5;
  cursor: text;
  padding-left: 5px;
}

.toolbar-custom {
  position: sticky;

  width: 100%;
  
  margin-bottom: 50px;

  z-index: 100;
}

.toolbar-hidden {
  visibility: hidden;
  position: absolute;
}

.par h1,
.par h2,
.par h3,
.par h4,
.par h5,
.par h6 {
  text-align: center;
  margin: 0.5em 0;
  font-weight: 600;
  line-height: 1.3;
  color: #000;
  /* Основной цвет как в вашем дизайне */
  font-family: "Montserrat", sans-serif;
  /* Как в вашем проекте */
}

.par h1 {
  font-size: 2.2em;
  letter-spacing: -0.5px;
  margin-bottom: 0.8em;
  border-bottom: 2px solid #f0f0f0;
  padding-bottom: 0.3em;
  /* display: inline-block;  */
}

.par h2 {
  font-size: 2em;
  letter-spacing: -0.25px;
  margin: 0.7em 0;
}

.par h3 {
  font-size: 1.7em;
  margin: 0.6em 0;
}

.par h4 {
  font-size: 1.4em;
  font-weight: 500;
  /* Чуть легче */
  margin: 0.5em 0;
  color: var(--primary)
}

.par h5 {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0.4em 0;
  color: #3a3a3a;
  /* Чуть темнее для акцента */
}

.par h6 {
  font-size: 1em;
  font-weight: 500;
  margin: 0.3em 0;
  color: #5a5a5a;
  text-transform: uppercase;
  letter-spacing: 1px;
}


.par {
  text-align: justify;
  line-height: 1.6;
}


.title {
  display: flex;
  flex-direction: column;

  gap: 5px;
  padding: 30px 0;

  font-weight: 600;
  text-align: center;
  /* line-height: 66px; */

  >span {
    font-size: 24px !important;
  }

  >span:nth-child(1) {
    font-size: 18px !important;
  }

  >span:nth-child(3) {
    font-size: 20px !important;
  }

  >span:nth-child(4) {
    font-size: 20px !important;
    /* color: red; */
  }

}