.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.body{
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    flex: 1;
    padding: 10px;
    
    background-color: #F0F0F0;
}

.unSeenMessagesInfo {
    /* width: 100%; */
    margin: 0 auto 5px auto;
    padding: 5px 10px;
    background-color: white;
    font-size: 14px;
    text-align: center;
    
    /* Эффект "парящего" блока */
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    transition: all 0.3s ease;
    
    /* Дополнительные улучшения */
    z-index: 1;
    /* margin: 5px 0; */
}

/* Эффект при наведении (опционально) */
.unSeenMessagesInfo:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-1px);
}

.archiveButton {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);

    width: 99%;

    display: flex;
    justify-content: center;

    padding: 10px 0;

    background-color: #F0F0F0;

    font-style: italic;
    text-decoration: underline;
    color: #000000A6;

    z-index: 10;
}


.dayContainer {
    display: inline-block;


    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 5px 20px;
    margin: 0 auto;

    border-radius: 5px;
    background-color: white;

    >span {

        font-size: 1rem;
        text-align: center;
    }
}