.wrapper {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    font-family: "'Montserrat', sans-serif'";
}

.modalContainer {
    background-color: #fefefe;
    margin: 40% auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    border: 1px solid #888;
    overflow: auto;
    border-radius: 5px;
}

.close {
    position: absolute;
    float: right;
    top: 145px;
    right: 33px;
}

.modalContent {}

.header {
    font-size: 1.6rem;
    border-bottom: 2px solid #005475;
}

.body {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.rowElement {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px 0;
    white-space: pre-wrap;
    /* сохраняет переносы и позволяет словам переноситься */
    word-wrap: break-word;
    /* позволяет словам переноситься на новую строку */
    word-break: break-all;
    /* разрешает разрыв слов в любом месте */
    hyphens: auto;

    >span {
        width: 50%;
        font-size: 1.3rem;
    }
}

.footer {
    display: flex;
    justify-content: center;
    padding-top: 15px;

    button {
        height: 2rem;
        width: 11rem;
        background: #005475;
        color: white;
        font-size: 16px;
        border-radius: 5px;
        text-transform: uppercase;
    }
}