.row {
    position: relative;
    overflow: visible;

    width: 100%;
    min-width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.row:hover {
    box-shadow: 4px 0 4px 1px rgba(0, 0, 0, 0.25);
}