.row {
    position: relative;
    overflow: visible;

    width: 100%;
    min-width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    transition: all;
}


.row:hover {
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}

.row:hover::before {
    content: "piska";
    position: absolute;
    bottom: 0;
    left: -50px;
    color: red;
    z-index: 10000000;
}