.fon {
    height: 32px;
    background-color: #005475;
    border-radius: 0px 8px 0px 0px;
}

.pomoshnikSearch {
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.pomoshnik {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    align-items: center;
}


.icons {
    display: flex;
    column-gap: 10px;

    & img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }

}

.title {

    & span {
        font-size: 20px !important;
        font-weight: 600;
        text-transform: uppercase;
    }

}

.iconBack {

    transition: all 0.1s ease;

    &:hover {
        background-color: rgb(240, 240, 240);
        border-radius: 50%;
        cursor: pointer;
        transform: scale(1.1);
    }


    &:active {
        transform: scale(0.95);
    }
}

.buttonHealper {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: all 0.1s ease;

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        transform: scale(0.95);
    }
}