.wrapper {
    padding: 10px;

    /* background-color: #fafafa; */
    background-color: #FDFDFD;
}

.body {
}

.choosePostContainer {
    position: relative;

    width: 90%;

    margin: 0 auto;


    >select {
        width: 100%;
    
        padding-left: 26px;

        border-bottom: 1px solid #bfbfbf;
        background-color: #FDFDFD;
        
        text-align: center;

        text-overflow: ellipsis;
    }
}


.choosePostContainer::before {
    content: "Пост";
    color: rgb(58, 58, 58);
    position: absolute;
    top: -6px;
    left: 8px;
    pointer-events: none;
    font-weight: 500;
    font-size: 12px;
    font-style: italic;
}


.inputTextContainer {
    display: flex;
}

.buttonSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    padding: 5px 0;
}

.inputText {
    flex: 1;

    padding: 5px;

    >textarea {
        width: 100%;
        min-height: 50px;
        max-height: 230px;

        padding: 5px;

        border: 1px solid #bfbfbf;
        border-radius: 15px;
    }
}