.section {
    position: relative;

    width: auto;

    height: 25px;
    min-height: 25px;
    max-height: 25px;

    z-index: 0;
}

.section::after {
    position: absolute;

    content: '';

    width: 100%;
    height: 2px;

    top: 80%;

    z-index: -1;

    background-color: var(--primary);
}

.name {
    position: absolute;

    height: 32px;

    display: inline-block;

    left: 11px;

    padding: 8px 8px;

    border: 1px solid var(--primary);
    border-radius: 10px;
    background-color: var(--white);

    z-index: 2;
}

.name span {
    font-family: 'Inter', sans-serif !important;
    font-size: 14px !important;
    font-weight: 400;

    color: var(--primary);
}

.block {
    /* margin-top: 37px; */

    /* height: calc(50% - 207px);
    min-height: calc(50% - 207px);
    max-height: calc(50% - 207px); */

    display: flex;
    flex-direction: column;

    background-color: var(--white);

    /* overflow-y: auto; */

    :hover {
        background-color: var(--primary-light);

        & span {
            color: var(--primary);
        }

        & svg {
            fill: var(--primary);
        }
    }
}

.icon {
    fill: var(--grey);
}

.row {
    padding-left: 12.5px;

    height: 50px;
    min-height: 50px;
    max-height: 50px;

    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 12.5px;
    transition: background 0.2s;

    & span {
        font-weight: 600;

        color: var(--grey);
    }

}

.row_active {
    background-color: var(--primary-light);

    & span {
        color: var(--primary);
    }

    & svg {
        fill: var(--primary);
    }
}

.controlPanel {
    width: 100%;
    height: 36px;

    display: flex;
    align-items: center;
    column-gap: 12.5px;

    padding-left: 12.5px;
    background-color: var(--grey-light);

    transition: background 0.2s;
    & svg {
        width: 24px;
        height: 24px;

        fill: var(--grey);
        fill-opacity: 1;
    }

    & span {
        color: var(--grey);
        font-weight: 600;
    }

}

.line {
    position: relative;
    display: block;
}

.line::after {
    position: absolute;

    content: '';

    width: 100%;
    height: 2px;

    top: 50%;

    background-color: var(--primary);
}