.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;

}


.contactInfo {
    width: 100%;
    max-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    padding: 10px 0;

    container-type: inline-size;
    container-name: contactInfo;
}

.avatarSection {
    >img {
        border-radius: 50%;
        width: 177px;
        height: 177px;
        /* margin-bottom: 30px; */
        border: 1px solid #999999;
        margin-bottom: 5px;
    }
}

.nameSection {
    overflow: hidden;
    /* overflow: visible; */
    max-width: 100%;
    font-size: 20px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.postSection {
    overflow: hidden;
    max-width: 100%;

    font-size: 12px;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* RightSider.module.css */
.dynamicContent {
    /* margin-top: 20px;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background: #fafafa; */
}

.dynamicContent>* {
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* @media (max-height: 850px) {
    .avatarSection>img {
        width: 120px;
        height: 120px;
    }

    .nameSection {
        font-size: 18px;
    }

    .postSection {
        font-size: 10px;
    }
} */


.content {
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;

    >div:nth-child(1) {
        flex: 0 1 auto;
        /* Сжимается при необходимости */
        min-height: 0;
        overflow-y: auto;
        max-height: 50%;
    }

    >div:nth-child(2) {
        flex: 1;
        min-height: 0;
        overflow-y: auto;
    }
}

@media (max-width: 1599px) {
    .avatarSection > img{
        height: 145px;
        width: 145px;
    }
}

/* @container contactInfo (max-width: 251px) {
    .avatarSection {
        >img {
            border-radius: 50%;
            width: 172px;
            height: 172px;
        }
    }
}

@container contactInfo (max-width: 280px) {
    .avatarSection {
        >img {
            border-radius: 50%;
            width: 144px;
            height: 144px;
        }
    }
} */