
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "'Montserrat', sans-serif'";
}


.body{
    flex: 1 0 calc(100vh - 50px);
    overflow: auto; 
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    
    margin-top: 10px;
    margin-bottom: 10px;
}

.boldText{
    font-weight: 600;
}