.fieldset::after {
  content: "";
  position: absolute;

  bottom: -32px; 
  left: 50%;
  transform: translateX(-50%);
  
  width: 4px;          
  height: 30px;         
  background-color: #CCCCCC;
  
}
.fieldset::before {
  content: "";
  position: absolute;
  bottom: -5px;           /* внизу линии */
  left: 50%;
  transform: translateX(-50%);
  
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #CCCCCC;
}


.fieldset2::after {
  content: "";
  position: absolute;


  top: -5px;
  left: 50%;
  transform: translateX(-50%);

  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #CCCCCC;
}

.text{
  font-size: 14px !important;
}

.title {
  font-size: 14px !important;
  color: #999999 !important;
}

.subtitle {
  font-size: 16px !important;
  color: #333333 !important;
}
