.main {
  position: relative;

  width: auto;
  max-width: var(--content-width);

  flex: 1 0 120px;

  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 20px 5px;
  padding: 10px;

  border: 1px solid #CCCCCC;
  border-radius: 5px;

  overflow-y: auto;
}

@media screen and (max-width: 1301px) {
  .main {
    max-width: 620px;
  }
}