.main {
  position: relative;

  width: auto;
  max-width: var(--content-width);

  flex: 1 0 120px;

  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 20px 5px;
  padding: 25px 46px;

  border: 1px solid #CCCCCC;
  border-radius: 5px;

  overflow-y: auto;
}


.fieldset::after {
  content: "";
  position: absolute;

  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);

  width: 4px;
  height: 35px;
  background-color: #CCCCCC;

}

.fieldset::before {
  content: "";
  position: absolute;
  bottom: -5px;
  /* внизу линии */
  left: 50%;
  transform: translateX(-50%);

  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #CCCCCC;
}


.fieldset2::after {
  content: "";
  position: absolute;


  top: 2px;
  left: 50%;
  transform: translateX(-50%);

  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #CCCCCC;
}


.text {
  font-size: 14px !important;
}

.title {
  font-size: 12px !important;
  color: #999999;
}


.subtitle {
  font-size: 16px !important;
  color: #333333;
}


@media screen and (max-width: 1301px) {
  .main {
    max-width: 620px;
  }
}