.textArea{
    width: 700px;
    min-height: 150px;
    /* max-height: 700px; */
    background-color: #ffff;
    border-radius: 10px;
    /* box-shadow: 1px 1px 10px 0px rgba(245, 245, 245, 0.208); */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 20px;
    color: #000;  
    font-family: "Montserrat";
    font-size: 16px;
    resize: none;
}

.textColor{
    color: var(--grey);  
}