
.fieldset::after {
    content: "";
    position: absolute;

    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);

    width: 4px;
    height: 35px;
    background-color: #CCCCCC;

}

.fieldset::before {
    content: "";
    position: absolute;
    bottom: -5px;
    /* внизу линии */
    left: 50%;
    transform: translateX(-50%);

    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #CCCCCC;
}

.title {
    text-align: left;
    font-size: 12px !important;
    color: #999999;
}


.subtitle {
    font-size: 16px !important;
    color: #333333;
}