.wrapper {
    width: 350px;
    min-width: 350px;
    max-width: 350px;

    height: 100%;
    min-height: calc(100vh - 300px);
    max-height: 100%;

    position: relative;

    border-radius: 15px;
    background-color: #A8D5BA;
    padding: 10px;

    overflow: hidden;


}

.wrapper:hover .controlsBlock {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.controlsBlock {
    position: absolute;
    top: 5px;
    right: 15px;
    display: flex !important;
    gap: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    z-index: 2;
    background: rgba(255, 255, 255, 0.9);
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    pointer-events: auto;
    /* Разрешаем взаимодействие с контролами */
}

.controlItem {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}

.controlItem:hover {
    transform: scale(1.1);
}

.block {

    width: auto;
    height: 100%;

    display: flex;
    flex-direction: column;
    row-gap: 20px;

    background-color: #A8D5BA;

    overflow-y: auto;
}

.block::-webkit-scrollbar-thumb {
    background-color: rgba(180, 180, 180, 0.5);
}

.nameBlock {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 5px;

    pointer-events: auto;

    & h2 {
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
    }

    & h3 {
        text-align: center;
        width: 100%;
    }
}

.childBlock {
    position: relative;

    display: flex;
    flex-direction: column;
    row-gap: 20px;

    padding: 10px;

    border-radius: 15px;
    pointer-events: none;
}


.customScrollbar {
    width: 5px;
    height: 100%;
    background-color: #D4B5B0;
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 0;
}

.customScrollbarThumb {
    width: 100%;
    background-color: rgba(255, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
}