.wrapper {}

.content {
    display: flex;
    align-items: center;
}

.text {
    color: #005475;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
}

.imgContainer {
    display: flex;

    padding-left: 5px;

}

.userAvatarContainer {
    padding: 0 3px;
}

.userAvatarContainer > img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}


.addedButton {

}