/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:16px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/


.wrapper{
    position: fixed;
    z-index: 1000;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    font-family: "'Montserrat', sans-serif'";
}

.column{
    background-color: #fefefe;
    margin: 55% auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    border: 1px solid #888;
    overflow: auto;
    border-radius: 5px;
}

.close{
    position: absolute;
    float: right;
    top: 197px;
    right: 17px;
}

.text{
    font-size: 1.7rem;
}

.footer{

    display: flex;
    justify-content: center;
    padding: 30px 0 10px 0;
    /* border: #005475 1px solid; */

    >button{
            height: 2rem;
            width: 10rem;
            background: #005475;
            color: white;
            font-size: 16px;
            border: #005475 1px solid;
            border-radius: 5px;
            text-transform: uppercase;
        }
}

