.number {
  height: 25px;
  width: 25px;
  min-width: 25px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 12.5px;

  color: var(--black);
  background-color: var(--grey-light);
}

.number[data-created="true"] {
  color: var(--grey-light2);
}