.content {
    padding: 1%;
}

.titleContainer {

    >input {
        display: block;

        width: 95%;

        margin: 0 auto;

        border-bottom: 1px solid #bfbfbf;

        font-size: 1rem;
    }
}

.postContainer{
    position: relative;

    margin-bottom: 10px;

    >select {
        display: block;

        width: 95%;

        margin: 0 auto;

        text-align: center;

        border-bottom: #bfbfbf 1px solid;
    }
}

.postContainer::before{
    content: "Пост";
    color: rgb(58, 58, 58);
    position: absolute;
    top: -6px;
    left: 8px;
    pointer-events: none;
    font-weight: 500;
    font-size: 12px;
    font-style: italic;
    z-index: 1000;
}

.dateContainer {


    >input {
        position: relative;
        display: block;

        width: 95%;

        padding: 7px 0 0 0;
        margin: 3px auto;

        border-bottom: 1px solid #bfbfbf;

        font-size: 1rem;
        text-align: center;
    }

    >input::before {
        content: "Дата завершения";
        color: rgb(58, 58, 58);
        position: absolute;
        top: -2px;
        left: 8px;
        pointer-events: none;
        font-weight: 500;
        font-size: 12px;
        font-style: italic;
        z-index: 1000;
    }

    >input:nth-child(1)::before {
        content: "Начало исполнения";
    }
}


.descriptionContainer {
    padding: 10px 0;

    >textarea {
        display: block;

        width: 95%;
        min-height: 50px;
        max-height: 280px;

        padding: 5px;
        margin: 0 auto;

        border: 1px solid #bfbfbf;
        border-radius: 15px;
    }
}

.stateContainer{
    position: relative;

    margin-bottom: 10px;

    >select {
        display: block;

        width: 95%;

        margin: 0 auto;

        text-align: center;

        border-bottom: #bfbfbf 1px solid;
    }
}

.stateContainer::before{
    content: "Статус";
    color: rgb(58, 58, 58);
    position: absolute;
    top: -6px;
    left: 8px;
    pointer-events: none;
    font-weight: 500;
    font-size: 12px;
    font-style: italic;
    z-index: 1000;
}


.attachContainer {
    position: relative;

    >select {
        display: block;

        width: 95%;

        margin: 0 auto;

        text-align: center;

        border-bottom: #bfbfbf 1px solid;
    }

    >input {
        display: block;

        width: 95%;

        padding: 10px 0 5px 0;
        margin: 0 auto;

    }
}

.attachContainer::before{
    content: "Политика";
    color: rgb(58, 58, 58);
    position: absolute;
    top: -7px;
    left: 8px;
    pointer-events: none;
    font-weight: 500;
    font-size: 12px;
    font-style: italic;
    z-index: 1000;
}