.main {
  position: relative;

  width: auto;
  max-width: var(--content-width);

  flex: 1 0 120px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 40px;
  padding: 40px 50px 0px 50px;

  background-color: #fff;
  border: 1px solid #999999;

  overflow-y: auto;
}


.frame {
  width: 100%;

  border: none;
}


.title {
  font-size: 12px !important;
  color: #999999;
  text-transform: uppercase;
}

.selectionActions {
  position: absolute;
  z-index: 10;
}
