/*Обнуление*/


.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "'Montserrat', sans-serif'";
    overflow: hidden;
}

.body{
    /* flex: 1 1 auto; */
    margin-top: 57px;
}

.Type{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.TitleType{
    font-size: 1.6rem;
    padding: 5px 20px;
    font-style: italic;
    color: grey;
    text-decoration: none;
}

.selectedType{
    font-size: 24px;
    padding: 5px 20px;
    font-style: italic;
    color: #005475;
    text-decoration: underline;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.title{
    font-size: 1.25rem;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    /* border: #005475 1px solid; */
}

.bodyContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 25px;
    /* height: 20px; */
    /*border-bottom: #005475 solid 1px;*/
}

.name{
    font-size: 1.25rem;
    width: 50%;
    /* border: black solid 1px; */
}

.selectSection{
    display: flex;
    font-size: 1.2rem;
    width: 50%;
    /*border: black solid 1px;*/

    >select{
        font-size: 1.2rem;
        font-family:"'Montserrat', sans-serif'";
        border-bottom: #005475 1px solid;
        height: 30px;
        width: 100%;
        text-align: center;
    }

    >input{
        font-size: 1.2rem;
        /* height: 30px; */
        font-family: "'Montserrat', sans-serif";
        border-bottom: #005475 1px solid;
        padding-left: 10px;
        width: 100%;
    }

  
}

.OrgSection{
    display: flex;
    justify-content: center;
    width: 50%;
    font-size: 1rem;

    >div{
        padding: 0.3em 0.3em;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
        /* text-transform: uppercase; */
    }
}

.OrgName{
    color: red;
    font-style: italic;
    text-decoration: underline;
}

.smallText{
    font-size: 0.8em;
    font-style: italic;
}

.targetsContainer{
    flex: 1 1 auto;
    background-color: #f0f8ff;
    overflow: auto;
    padding-bottom: 10px;
}

.deleteContainer{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-style: italic;
}

.targetsFlex{
    display: flex;
    flex-direction: column;
}


  
.sectionName{
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    height: 1.4rem;
    color: #005475;
    border-bottom: #005475 1px solid;
    font-weight: 600;
    margin-top: 10px;
    /* background-image: url(../Custom/icon/icon\ _\ add\ _\ 005476.svg); */
    background-repeat: no-repeat;
    background-position: 98% 50%;
}

[data-section-id="2"] {
    background-image: url(@Custom/icon/icon\ _\ add\ _\ 005476.svg);
  }

[data-section-id="1"] {
    background-image: url(@Custom/icon/icon\ _\ add\ _\ 005476.svg);
  }

.targetContainer{
    /* border: #005475 1px solid; */
}


.descriptionFlex{
    display: flex;
    justify-content: center;
    width: 100%;
}
.descriptionContainer{

    width: 95%;
    display: flex;
    flex-direction: column;
    /* box-shadow: 0 0 1px 1px; */
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: white;
    font-family: "'Montserrat', sans-serif'";

    padding: 10px;

    >textarea {
        font-size: 1.1rem;
        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        width: 100%;
        overflow: hidden;
        resize: none;
        /* min-height: 50px; */
        transition: height 0.3s ease-out;
        padding: 0.3em 0.5em 0.3em 0.5em;
    }
}

.inputContainer{
    /* position: fixed; */
    /* bottom: 0;
    left: 0;
    right: 0; */
    background-color: white;
    border-top: #005475 solid 2px;
}

.inputRow2{
    display: flex;
    padding: 0.8rem;
    /*border: #005475 1px solid;*/
    width: 100%;
    align-items: center;

    @media screen and (max-width: 395px) {
        padding: 1.5rem 2rem;
    }
    @media screen and (max-width: 370px) {
        padding: 1.5rem 1.5rem;
    }
    @media screen and (max-width: 350px) {
        padding: 1.5rem 0.5rem;
    }


    img{
        display: inline-block;
        width: 30px;
        height: 30px;
        box-shadow: 0 0 3px black;
        border-radius: 10px;

    }

    button{
        height: 2rem;
        width: 10rem;
        background: #005475;
        color: white;
        font-size: 16px;
        border: #005475 1px solid;
        border-radius: 5px;

    }

    div{
        display: flex;
        flex: 1 1 auto;
        /*border: 1px solid #005475;*/
        justify-content: center;
    }
}

.cardContainer {
    width: 95%;
    display: flex;
    flex-direction: column;
    /* box-shadow: 0 0 1px 1px; */
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: white;
    font-family: "'Montserrat', sans-serif'";
}

.content {
    padding: 10px 10px 5px 10px;
    /* border: 1px solid black; */

    >div{
        font-size: 1.2rem;
    }

    >textarea {
        font-size: 1.1rem;
        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        width: 100%;
        overflow: hidden;
        resize: none;
        /* min-height: 50px; */
        transition: height 0.3s ease-out;
        padding: 0.3em 0.5em 0.3em 0.5em;
    }
}

.titleProject{
    font-size: 1.5rem !important;
}

.bottom {
    display: flex;
    padding: 5px 10px 5px 10px;
    justify-content: space-between;

    /* div{
        border: 1px solid black;
    } */
}

.worker {
    display: flex;
    align-items: center;

    >select {
        font-family: "'Montserrat', sans-serif'";
        font-size: 1rem;
    }
}

.deadline {
    display: flex;
    align-items: center;

    >input {
        width: 100px;
        font-size: 1rem;
    }
}