.searchContainer {
    margin-bottom: 16px;

}

.searchContainer.hover {

    border: 3px #df1414 !important;
}

.list {
    max-height: 600px;
    overflow-y: auto;
}

.listItem {
    padding: 20px 32px;
    cursor: pointer;
    background-color: #cfdee5;
    transition: all 0.2s;
    border-radius: 4px;
    margin-left: 3px;
    width: 99%;

}

.listItem:hover {
    box-shadow: 0px 0px 5px 2px #005475;
}

.selectedItem {
    transition: all 0.2s;
    background-color: #E1F5FE;
    box-shadow: 0px 0px 5px 2px #005475;
}

.itemContent {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

    >span {
        font-size: 32px;
        background-color: #cfdee5;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        padding: 5px;
    }
}