.main {
    position: relative;

    width: auto;
    max-width: var(--content-width);

    flex: 1 0 120px;

    background-color: var(--grey-light2);

    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 5px;

    border: 1px solid var(--grey-medium);

    overflow-y: auto;
}