.main {
    position: relative;
    height: 100%;

    width: var(--content-width);
    max-width: var(--content-width);

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    overflow-y: auto;
    border: 1px solid red;
}

.wrapper {
    position: relative;

    width: calc(var(--content-width) - 50px);
    max-width: calc(var(--content-width) - 50px);

    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    padding: 5px;
    
    border: 1px solid var(--grey-medium);
    background-color: var(--grey-light2);
}