.wrapper {
    position: relative;
    width: 304px;
    background-color: #CCCCCC;
    border-radius: 50px 10px 0 50px;
}

.greySection {
    background-color: #CCCCCC;
    height: 45px;
    border-radius: 50px 10px 0 0;

}

.whiteSection {
    background-color: #F0F0F0;
    height: 45px;
    border-radius: 0 10px 0 50px;

}

.contentContainer {
    position: absolute;
    top: 2px;
    left: 0;
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    width: 304px;
    padding-left: 5px;
}

.photoSection {
    display: flex;
    align-items: center;

    > img {
        background-color: white;
        width: 84px;
        height: 84px;
        border-radius: 50%;
    }
}

.textSection {
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    padding-left: 10px;
}

.upperText {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    /* padding-left: 8px; */
    font-weight: 700;
    color: #333333;
}

.bottomText {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    /* padding-left: 8px; */
    color: #333333;


    > div {
        width: 100%;
    }

    > div:nth-child(2) {
        display: flex;
        font-size: 12px;
    }

    button {
        margin-left: auto;
        margin-right: 20px;
    }
}

.background {
    height: 100vh;
    background-image: url('/src/UI/image/schema_background.svg');
    background-repeat: repeat;
    background-size: auto;
    background-position: center;
    padding: 100px;
}

.block {
    position: relative;

    margin-left: 70px;
    margin-top: 20px;

    min-height: 45px;
    height: auto;
    width: 232px;

    border-radius: 20px;
    border: 1px solid #CCCCCC;
    padding: 15px 30px;

    overflow-wrap: break-word;
}

.nameBlock {
    position: absolute;
    top: -12px;
    left: 20px;
    display: inline-block;
    height: auto;

    border-radius: 20px;
    background-color: #FFFFFF80;

    font-size: 12px !important;
    font-weight: 400;
    color: #999999;

    padding: 5px 10px;
}