.wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
}

.Header {
    width: 100%;
    
    > div:nth-child(1) {
        height: 32px; 
        background-color: var(--primary);
    }
    
    > div:nth-child(2) {
        height: 56px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        /* display: flex;
        align-items: center;
        flex-direction: row-reverse;
       

        >button{
            margin: 0 10px;
        } */
    }

    
}

.buutonsContainer{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: white;
    height: 100%;

    >button{
        margin: 0 10px;
    }
}

.content{
    overflow: auto;
    display: flex;
    justify-content: center;
    flex: 1;
}