.load {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 25%;
    column-gap: 15px;
    z-index: 10000;
}

.loadImage {
    width: 33px;
    height: 33px;
    animation: rotate 1.2s linear infinite;
    /* Анимация вращения */
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
        /* Начальное положение */
    }

    to {
        transform: rotate(360deg);
        /* Конечное положение */
    }
}

.wave {
    -webkit-box-reflect: below 0 linear-gradient(transparent, rgba(0, 84, 117, 0.5));
}

.wave span {
    display: inline-block;
    font-weight: 600;
    font-family: 'Montserrat';
    color: #005475;
    font-size: 14px;
    animation: wave 1s infinite calc(0.1s * var(--i));
}

@keyframes wave {

    0%,
    40%,
    100% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-10px)
    }
}

  