.wrapper_search {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.search {
    width: 150px;
    height: 22px;
}

.exit {
    position: absolute;
    float: right;
    top: -27px;
    right: -27px;
    cursor: pointer;
}


.table {
    width: 70vw;
}

.table th {
    height: 35px;
    width: 100%;

    border-radius: 10px;
    background-color: #DDEBF1;

    color: #005475;
    font-family: 'Montserrat';


    white-space: nowrap;
    vertical-align: center;
}


.table tbody {
    min-height: 270px;
    height: calc(75vh - 130px);

    width: 100%;
    max-width: 100%;

    border-radius: 10px;
    overflow-y: auto;
}

.table tbody tr {
    min-height: 200px;
    height: calc(75vh - 130px);
    width: 100%;
    max-width: 100%;

    display: block;

    overflow-y: auto;
}


.table td {
    width: 100%;

    display: flex;
    row-gap: 5px;
    flex-direction: column;


    font-family: 'Montserrat';
    vertical-align: top;

}

.row {

    max-width: 375px;

    display: flex;
    align-items: center;
    column-gap: 10px;

    padding: 5px;

    background-color: #f0f3f5;
    border-radius: 10px;


    overflow: hidden;
    white-space: normal;
    word-break: break-word;
}