
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "'Montserrat', sans-serif'";
}


.inputRow1{

    /* height: 50px; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 10px 10px;


    div{
        display: flex;
        flex: 1 0 auto;
        align-items: center;
    }

    input{
        padding: 0 1em;
        height: 1.5rem;
        width: 12rem;
        font-size: 16px;
        text-transform: uppercase;
        border-bottom: 1px solid #005475;
    }
    @media screen and (max-width: 375px) {
        input {
            width: 7rem;
        }
    }
    @media screen and (max-width: 440px) {
        input {
            width: 10rem;
        }
    }

    img{
        display: inline-block;
        border-bottom: #005475 1px solid;
        height: 1.5rem;

    }

}

.first{
    justify-content: center;
    /* padding: 0 1em; */

    select{
      text-transform: uppercase;
        justify-content: center;
        text-align: center;
        display: flex;
        font-family: "'Montserrat', sans-serif";
        font-size: 16px;
        height: 1.5rem;
        border-bottom: #005475 1px solid;
    }
}

.second{
    justify-content: center;

    select{
        display: flex;
        font-family: "'Montserrat', sans-serif";
        font-size: 16px;
        height: 1.5rem;
        border-bottom: #005475 1px solid;
        justify-content: center;
        text-align: center;
        font-style: italic;
    }
}

.body{
    overflow: auto;

    flex: 1 1 auto;
    
    padding: 10px 0;

    background-color: #F0F0F0;
}

.editorContainer {
    /* margin-top: 10px; */
    position: relative; /* Это позволит дочернему элементу быть позиционированным относительно этого контейнера */
    margin-bottom: 20px;
    /* border: 1px solid blue; */
}

.textareaContainer {

    position: relative;

    height: 65vh;

}