.main {
    position: relative;

    width: 470px;
    max-width: 470px;

    flex: 1;

    background-color: #fff;

    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 10px;

    border: 1px solid #CCCCCC;
    border-radius: 5px;

    overflow-y: auto;
}

.modulePrj {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttonPrj {
    color: rgb(153, 153, 153);
    transition: color 0.3s ease;
}

.buttonPrj:hover {
    color: rgb(0, 84, 117);
}


.header {
    min-height: 32px;

    background-color: #CCCCCC;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;

    font-size: 22px;
    font-weight: 600;
    color: #333333;
    padding: 4px 10px;
}

.buttonCreate {
    width: 100%;

    height: 55px;

    display: flex;
    align-items: center;
    column-gap: 12px;

    padding: 4px 12px;
    background-color: white;

    font-weight: 600;
    color: #005475;
}

.listItemWrapper {
    height: 30vh;
    overflow-y: auto;
}

.listItem {
    height: 55px;

    display: flex;
    align-items: center;
    column-gap: 12px;

    padding: 4px 8px;
    background-color: white;

    font-weight: 600;
    color: #333333;
}

/* спрятать кнопку по умолчанию */
.listItem button {
    margin-left: auto;
    opacity: 0;
    transition: opacity 0.2s ease;
}

/* показывать при наведении */
.listItem:hover button {
    opacity: 1;
}

.wrapperName {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.subtitle {
    color: #999999;
    font-size: 12px !important;
    font-weight: 300;
}

.buttonCreate:hover,
.listItem:hover {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background-color: #CFDEE5;
}

.btnWrapper {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.buttonPrj {
    height: 32px;
    width: 50%;

    padding: 5px 10px;

    display: flex;
    align-items: center;
    column-gap: 5px;

    border-radius: 6px;
    border: 1px solid #CCCCCC;

    font-size: 14px;
    color: #999999;
    font-weight: 600;
}

.buttonPrj:hover {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: 1px solid #005475;
    color: #005475;
}

.fieldset {
    border: 2px solid #d9d9d9;
    border-radius: 5px;
}

.legend {
    font-size: 12px !important;
    color: #999999;
    text-transform: uppercase;
}