.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "'Montserrat', sans-serif'";
}

.headContainer {
    box-shadow: 0px 0px 10px black;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}

.headRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    flex-direction: column;
    /*img{*/
    /*    display: inline-block;*/
    /*    margin-right: 15px;*/
    /*}*/
}

.blueLine {
    display: block;
    height: 10px;
    width: 100%;
    background-color: #005475;
}

.headElem {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
    padding: 0 0 0 1px;
    align-items: center;
    justify-content: flex-start;
}

.icon {
    margin: 0 15px;
}

.txt {
    display: flex;
    height: 100%;
    align-items: center;
    background: url("@Custom/icon/messendger _ avatar.svg") 0 40% no-repeat;
    padding: 0 0 0 30px;
}

.headText {
    color: #005475;
    font-size: 20px;
    font-weight: 600;

}

.body {
    /* margin-top: 57px; */
    position: relative;
    flex: 1 0 auto;
    overflow: auto;
    /* max-height: calc(100vh - 127px); */
}

.questionContainer {
    position: absolute;
    top: 0;
    /* display: block; */
    /* height: 150px; */
    display: flex;
    padding: 15px 15px 1px 15px;
    width: auto;

    background-color: white;
    /* border: #005475 1px solid; */
}

.questionBody {
    display: flex;
    justify-content: space-between;
    width: 280px;
    /* border: 1px solid red; */
}

.imgContainer {
    >img {
        width: 40px;
        height: 40px;
    }
}

.textContainer {
    border-radius: 15px 15px 15px 0;
    background-color: #DDEBF1;
    color: #005475;
    padding: 10px 10px 10px 0;
    font-size: 1.2rem;
    font-weight: 600;

    >span {
        display: block;
        margin-left: 20px;

        >select {
            background-color: #DDEBF1;
            color: #005475;
            font-size: 1.2rem;
            font-weight: 600;
        }
    }

    >span:last-child{
        margin-left: 15px;
    }
}

.bodyColumn {
    display: flex;
    flex-direction: column-reverse;
    height: calc(100vh - 127px);
    overflow: auto;

    padding-top: 110px;
}

.bodyRow {
    display: flex;
    padding: 0 0 15px 0;

    img {
        display: inline-block;
        padding: 0 7px 3px 0;
    }
}

.bodyElement {
    display: flex;
    height: 50px;
    background: #005475;
    border-radius: 15px 15px 15px 0;
    margin-left: 15px;
    padding: 20px;
    align-items: center;
}

.bodyElementText {
    font-weight: 600;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
}

.inputContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-top: #005475 solid 3px;
}

.inputRow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
}


.inputElement {
    width: 100%;
    display: flex;

    input {
        border: #005475 1px solid;
        width: 90%;
        height: 50px;
        border-radius: 50px;
        padding: 0 10px;
        margin: 0 auto;
        font-size: 1.2rem;

    }

    input[type="search"]::-webkit-input-placeholder {
        /* background-image: url('../Main/icon/subbar _ search.svg'); */
        background-repeat: no-repeat;
        background-position: right center;
        font-family: "Montserrat";
        font-size: 18px;
        font-weight: 600;
        color: #B4B4B4;
    }


    input:focus {
        color: #005475;
        /*border-bottom: 1.5px solid rgb(0, 84, 117);*/
        /*border-top: 1px solid #ffff;*/
        /*border-right: 1px solid #ffff;*/
        /*border-left: 1px solid #ffff;*/
    }


    input:focus::placeholder {
        position: absolute;
        font-style: normal;
        font-weight: 100;
        top: -2px;
        left: 5%;
        color: #005475;
        background-image: none;
    }

}