.attachmentsGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  width: 100%;
  /* max-width: 500px; */
}

.attachmentItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
}

/* Для элементов во второй строке (8, 9, 10) */
.attachmentItem:nth-child(8),
.attachmentItem:nth-child(9),
.attachmentItem:nth-child(10) {
  grid-row: 2;
}

/* Позиционируем элементы второй строки слева */
.attachmentItem:nth-child(8) {
  grid-column: 1; /* Первая колонка */
}

.attachmentItem:nth-child(9) {
  grid-column: 2; /* Вторая колонка */
}

.attachmentItem:nth-child(10) {
  grid-column: 3; /* Третья колонка */
}

.attachmentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100px;
}

.imageContainer {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  overflow: hidden;
  border-radius: 4px;
}

.attachmentImage {
  max-width: 100%;
  max-height: 100%;
}

.fileContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  background: #f5f5f5;
  border-radius: 4px;
}

.fileIcon {
  width: 52px;
  height: 52px;
}

.fileName {
  margin-top: 4px;
  font-size: 12px;
  text-align: center;
  word-break: break-word;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}