.container {
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
  }
  
  .imageContainer {
    overflow: hidden;
    border-radius: 5px;
  }
  
  .imageWrapper {
    position: relative;
    overflow: hidden;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  
  
  
  .imageGrid {
    display: grid;
    gap: 5px;
  }
  
  .grid1 {
    grid-template-columns: 1fr;
  }
  
  .grid2 {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .grid3 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  
  .grid3 .imageWrapper:first-child {
    grid-column: span 2;
  }
  
  .grid4 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  
  .grid5 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  
  .grid5 .imageWrapper:first-child {
    grid-row: span 2;
  }
  
  /* Для 6 фотографий */
  .grid6 {
    display: grid;
    grid-auto-rows: repeat(2, 1fr);
    grid-template-columns:  1fr 1fr 1fr;
  }
  
  /* Для 7 фотографий */
  .grid7 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: repeat(3, 1fr);
  }
  
  .grid7 .imageWrapper:first-child {
    grid-column: span 3;
  }
  
  .grid7 .imageWrapper:nth-child(2) {
    grid-column: span 3;
  }
  
  
  .grid7 .imageWrapper:nth-child(3) {
    grid-column: span 3;
  }
  
  .grid7 .imageWrapper:nth-child(4) {
    grid-column: span 3;
  }
  
  .grid7 .imageWrapper:nth-child(5) {
    grid-column: span 2;
  }
  
  
  .grid7 .imageWrapper:nth-child(6) {
    grid-column: span 2;
  }
  
  .grid7 .imageWrapper:nth-child(7) {
    grid-column: span 2;
  }
  
  
  /* Для 8 фотографий */
  .grid8 {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: repeat(3, 1fr);
  }
  
  .grid8 .imageWrapper:first-child {
    grid-column: span 3;
  }
  
  .grid8 .imageWrapper:nth-child(2) {
    grid-column: span 3;
  }
  
  
  .grid8 .imageWrapper:nth-child(3) {
    grid-column: span 2;
  }
  
  .grid8 .imageWrapper:nth-child(4) {
    grid-column: span 2;
  }
  
  .grid8 .imageWrapper:nth-child(5) {
    grid-column: span 2;
  }
  
  
  .grid8 .imageWrapper:nth-child(6) {
    grid-column: span 2;
  }
  
  .grid8 .imageWrapper:nth-child(7) {
    grid-column: span 2;
  }
  .grid8 .imageWrapper:nth-child(8) {
    grid-column: span 2;
  }
  
  
  /* Для 9 фотографий */
  .grid9 {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: repeat(3, 1fr);
  }
  .grid9 .imageWrapper:first-child {
    grid-column: span 2;
  }
  
  .grid9 .imageWrapper:nth-child(2) {
    grid-column: span 2;
  }
  
  
  .grid9 .imageWrapper:nth-child(3) {
    grid-column: span 2;
  }
  
  .grid9 .imageWrapper:nth-child(4) {
    grid-column: span 2;
  }
  
  .grid9 .imageWrapper:nth-child(5) {
    grid-column: span 2;
  }
  
  .grid9 .imageWrapper:nth-child(6) {
    grid-column: span 2;
  }
  .grid9 .imageWrapper:nth-child(7) {
    grid-column: span 2;
  }
  .grid9 .imageWrapper:nth-child(8) {
    grid-column: span 2;
  }
  .grid9 .imageWrapper:nth-child(9) {
    grid-column: span 2;
  }
  
  
  .grid10 {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: repeat(3, 1fr);
  }
  
  .grid10 .imageWrapper:first-child {
    grid-column: span 3;
  }
  .grid10 .imageWrapper:nth-child(2) {
    grid-column: span 3;
  }
  .grid10 .imageWrapper:nth-child(3) {
    grid-column: span 2;
  }
  
  
  .grid10 .imageWrapper:nth-child(4) {
    grid-column: span 2;
  }
  .grid10 .imageWrapper:nth-child(5) {
    grid-column: span 2;
  }
  .grid10 .imageWrapper:nth-child(6) {
    grid-column: span 2;
  }
  .grid10 .imageWrapper:nth-child(7) {
    grid-column: span 2;
  }
  
  
  .grid10 .imageWrapper:nth-child(8) {
    grid-column: span 3;
  }
  .grid10 .imageWrapper:nth-child(9) {
    grid-column: span 3;
  }
  .grid10 .imageWrapper:nth-child(10) {
    grid-column: span 2;
  }
  
  
  
  .fileList {
    margin-top: 20px;
  }
  
  .fileList ul {
    list-style-type: none;
    padding: 0;
  }
  
  .fileList li {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
  }
  
  .fileList a {
    text-decoration: none;
    color: #007bff;
  }
  
  .fileList a:hover {
    text-decoration: underline;
  }