.wrapper {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
    padding: 15px 0;
    width: 100%;
}

/* Общие стили для всех контейнеров */
/* .messageContainer, */
.userMessageContainer,
.visaApproved,
.visaRejected {
    position: relative;
    /* max-width: 540px; */
    max-height: 9300px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    padding-top: 0px;
    margin-top: 0px;

}

/* Индивидуальные стили */
.messageContainer {
    /* background-color: #ffffff; */
    position: relative;
    width: 100%;
    display: flex;
    padding: 0 70px;
    padding-top: 10px;

}

.messageWithoutAvatar {
    /* border: 1px solid red; */
    min-width: 660px;
    max-width: 660px;
}

.userMessageContainer {
    background-color: var(--primary-light);
    border-radius: 0 15px 0 15px;
    min-width: 100px;

}

.visaApproved {
    background-color: #b7eb8f;
}

.visaRejected {
    background-color: #ffa39e;
}

/* .userMessageContainer::after {
    content: '';
    position: absolute;
    bottom: 0px;
    right: -12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 0 20px;
    border-color: transparent transparent transparent var(--primary-light);
}

.messageContainer::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: transparent #ffffff transparent transparent;
} */

.senderName {
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    color: #005475;
    font-weight: normal;
}

.textMessage {
    overflow: hidden;
    width: 100%;
    max-height: 9280px;
    word-break: keep-all;
    height: 100%;
    font-size: 16px;
}

.containerForAttachmets{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.attachmentsContainer{
    /* padding: 0 10px; */
    width: 96%;
    margin: 0 10px;
}

.contentMessage {
    display: flex;
    height: 100%;
    align-items: flex-end;
    padding: 15px 30px;
    /* min-width: 520px; */
    max-width: 640px;
}

.time {
    /* border: 1px solid blue; */
    height: 100%;
    padding-left: 8px;
    font-size: 9px;
    /* color: ; */
}

.isSeen {
    /* border: 1px solid red; */
    display: flex;
    padding-left: 4px;

    >img {
        height: 8px;
        /* border: 1px solid green; */
    }
}

.userAvatar {
    position: relative;

    >img {
        position: absolute;
        top: -8px;
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }
}

.userAvatar_receiver {
    position: relative;

    >img {
        position: absolute;
        top: -8px;
        right: 5px;
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }
}

.messageInfo {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    /* border-radius: 10px; */
    /* margin: 10px; */
    padding-top: 0px;
    font-size: 10px;
    font-weight: 600;
    color: rgba(153, 153, 153, 1);
}

@media (max-width: 1599px) {
    .messageContainer {
        padding: 0 10px;
    }

    .messageWithoutAvatar {
        /* border: 1px solid red; */
        min-width: 540px;
        max-width: 540px;
    }

}

/* 
.messageContainer {
    position: relative;
    display: flex;
    max-width: 80%; 

    margin: 10px;
    border: 1px solid red;
} */

/* .messageContainer::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -20px; 
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0 0;
    border-color: transparent #e0e0e0 transparent transparent;
} */

/* .contentMessage{
    background-color: #e0e0e0; 
    height: 100%;
}



.invisibleSection > div{
    width: 30px;
    border: 1px solid green;
}

.invisibleSection > div:nth-child(1) {
    height: 70%;
}

.invisibleSection > div:nth-child(2) {
    height: 30%;
} */