.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10px;
    /* width: 100%; */
}

/* Общие стили для всех контейнеров */
/* .messageContainer, */
.userMessageContainer,
.visaApproved,
.visaRejected {
    position: relative;
    max-width: 540px;
    max-height: 9300px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    padding-top: 0px;
    margin-top: 0px;

}

/* Индивидуальные стили */
.messageContainer {
    /* background-color: #ffffff; */
    display: flex;
}

.userMessageContainer {
    background-color: var(--primary-light);
    border-radius: 0 15px 0 15px;
    min-width: 100px;

}

.visaApproved {
    background-color: #b7eb8f;
}

.visaRejected {
    background-color: #ffa39e;
}

/* .userMessageContainer::after {
    content: '';
    position: absolute;
    bottom: 0px;
    right: -12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 0 20px;
    border-color: transparent transparent transparent var(--primary-light);
}

.messageContainer::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: transparent #ffffff transparent transparent;
} */

.senderName {
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    color: #005475;
    font-weight: normal;
}

.textMessage {
    overflow: hidden;
    width: 100%;
    max-height: 9280px;
    word-break: keep-all;
    height: 100%;
    padding: 1px;
}

.contentMessage {
    display: flex;
    height: 100%;
    align-items: flex-end;
}

.time {
    /* border: 1px solid blue; */
    height: 100%;
    padding-left: 8px;
    font-size: 9px;
    /* color: ; */
}

.isSeen {
    /* border: 1px solid red; */
    display: flex;
    padding-left: 4px;

    >img {
        height: 8px;
        /* border: 1px solid green; */
    }
}

.userAvatar{
    >img{
        width: 48px;
        height: 48px;
    }
}

.messageInfo{
    display: flex;
    justify-content: space-between;
    padding: 3px 15px;
    /* border-radius: 10px; */
    /* margin: 10px; */
    padding-top: 0px;
    font-size: 10px;
    font-weight: 600;
    color: rgba(153, 153, 153, 1);
}



/* 
.messageContainer {
    position: relative;
    display: flex;
    max-width: 80%; 

    margin: 10px;
    border: 1px solid red;
} */

/* .messageContainer::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -20px; 
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0 0;
    border-color: transparent #e0e0e0 transparent transparent;
} */

/* .contentMessage{
    background-color: #e0e0e0; 
    height: 100%;
}



.invisibleSection > div{
    width: 30px;
    border: 1px solid green;
}

.invisibleSection > div:nth-child(1) {
    height: 70%;
}

.invisibleSection > div:nth-child(2) {
    height: 30%;
} */