/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:16px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/


.wrapper{
    position: fixed;
    z-index: 1000;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    font-family: "'Montserrat', sans-serif'";
}

.column{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    border: 1px solid #888;
    overflow: auto;
    border-radius: 5px;
}

.close{
    position: absolute;
    float: right;
    top: 38px;
    right: 15px;
}

.element_srch{
    border-bottom: #005475 2px solid;
    align-items: center;
    display: flex;
    padding: 0.2rem;

    input {
        border: #005475 1px solid;
        width: 100%;
        height: 40px;
        border-radius: 50px;
        padding: 0 10px;
        margin: 0 auto;

    }

    input[type="search"]::-webkit-input-placeholder {
        background-repeat: no-repeat;
        background-position: right center;
        font-family: "Montserrat";
        font-size: 14px;
        font-weight: 600;
        color: #B4B4B4;
    }


    input:focus {
        color: #005475;
        /*border-bottom: 1.5px solid rgb(0, 84, 117);*/
        /*border-top: 1px solid #ffff;*/
        /*border-right: 1px solid #ffff;*/
        /*border-left: 1px solid #ffff;*/
    }


    input:focus::placeholder {
        position: absolute;
        font-style: normal;
        font-weight: 100;
        top: -2px;
        left: 5%;
        color: #005475;
        background-image:none;
    }
}

.element_var{

}

.heading{
    font-size: 1.5rem;
    padding: 0.5em 0.5em 0.5em 0;
    display: block;
    background: url("./icon/icon _ sublist.svg") 99% 57% no-repeat;
}

.item{
    padding: 0.3rem 0 0.3rem 0.5rem;
}

