
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: var(--content-width);
    max-width: var(--content-width);
    margin-bottom: 10px;
    background-color: white;
    border-radius: 0 0 15px 15px;
}

.taskContainer {
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
    /* justify-content: flex-end; */
    overflow-y: auto; /* вертикальный скролл */
    overflow-x: hidden; /* скрываем горизонтальный */
    padding: 15px 0;

}

.dayContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;

    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 5px 20px;
    margin: 15px auto;
    font-weight: 600;
    border-radius: 5px;
    background-color: white; */

    >div {
        font-size: 12px;
        font-weight: 400;
        text-align: center;
        color: #3A3A3A;
    }
}