.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "'Montserrat', sans-serif'";
    overflow: hidden;
}

.directoryNane {
    height: 30px;
    /* margin-top: 57px; */
    /* border: #005475 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;

    input {
        padding: 0 1em;
        height: 1.5rem;
        width: 12rem;
        font-size: 16px;
        text-transform: uppercase;
        border-bottom: 1px solid #005475;

    }
}

/* 
.inputName{
    font-size: 1.1rem;
    width: 1rem;
} */

.body {
    flex: 1 1 auto;
    max-height: calc(100vh - 113px);
    /* margin-top: 60px; */
    overflow: hidden;
}

.bodyContainer {
    display: flex;
    /* width: 100vw; */
    height: 100%;
}

.left {
    height: 98%;
    width: 50vw;
    overflow: auto;
    border-right: #005475 1px solid;
}

.title {
    padding: 5px;
    color: #005475;
    font-size: 1.4rem;
    /* border: 1px solid red; */

    >div {
        border-bottom: #005475 1px solid;
        display: flex;
        justify-content: center;
        padding: 0 3px;
    }
}

.selectList {
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 1.3em;
    padding-bottom: 10px;

    li {
        /* border: #005475 1px solid; */
        display: flex;
        overflow: hidden;
        width: 100%;
        padding: 0.4rem 0.8rem;
        justify-content: space-between;
        align-items: center;

        div {
            padding-left: 5px;
        }

        >input {
            height: 1.3em;
            width: 1.3em;
        }

        >span {
            white-space: nowrap;
            /* Запрещаем перенос текста */
            overflow: hidden;
            /* Скрываем текст, который не влезает */
            text-overflow: ellipsis
        }
    }
}

.selectType {
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    padding: 5px 3px;

    >div {
        width: 40px;
        display: flex;
    }


}

.input1 {
    display: flex;
    width: 90%;
    height: 59%;
    box-shadow: 0 0 1px black;
    margin-top: 10px;
}

.right {
    height: 98%;
    width: 50vw;
    overflow: auto;
    /* border-left: #005475 1px solid; */

}


.inputContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-top: #005475 solid 3px;
}

.inputRow2 {
    display: flex;
    padding: 15px;
    /* border: red 1px solid; */
    width: 100%;
    /* align-items: center; */
    justify-content: space-between;


    img {
        display: inline-block;
        width: 30px;
        height: 30px;
        box-shadow: 0 0 3px black;
        border-radius: 10px;

    }


    div {
        display: flex;
        /* border: 1px solid #005475; */
        justify-content: center;
    }
}

.addButton {
    height: 2rem;
    width: 9rem;
    background: #005475;
    color: white;
    font-size: 16px;
    border: #005475 1px solid;
    border-radius: 5px;
}

.deleteButton {
    height: 2rem;
    width: 9rem;
    background: #fff;
    color: #005475;
    font-size: 16px;
    border: #005475 1px solid;
    border-radius: 5px;
}

.element_srch {
    /* border-bottom: #005475 2px solid; */
    align-items: center;
    display: flex;
    padding: 15px 15px 10px 15px;

    input {
        border: #005475 1px solid;
        width: 100%;
        height: 30px;
        border-radius: 50px;
        padding: 0 10px;
        margin: 0 auto;
        font-size: 18px;

    }

    input[type="search"]::-webkit-input-placeholder {
        background-repeat: no-repeat;
        background-position: right center;
        font-family: "Montserrat";
        font-size: 18px;
        font-weight: 600;
        color: #B4B4B4;
    }


    input:focus {
        color: #005475;
        /*border-bottom: 1.5px solid rgb(0, 84, 117);*/
        /*border-top: 1px solid #ffff;*/
        /*border-right: 1px solid #ffff;*/
        /*border-left: 1px solid #ffff;*/
    }


    input:focus::placeholder {
        position: absolute;
        font-style: normal;
        font-weight: 100;
        top: -2px;
        left: 5%;
        color: #005475;
        background-image: none;
    }
}

.first {
    display: flex;
    align-items: center;
    justify-content: center;

    >input {
        padding: 0.5em 0.5em 0 0.5em;
        /* height: 1.5rem; */
        width: 90%;
        font-size: 1.6rem;
        font-style: italic;
        /* text-decoration: underline; */
        color: #005475;
        text-transform: uppercase;
        border-bottom: #005475 2px solid;

    }
}