.wrapper{

    width: 100%;
    height: 100%;


    padding: 10px;
}

.contentContainer{

    width: 100%;
    height: 100%;

    >textarea{

        width: 100%;
        height: 100%;

        padding: 10px;

        border-radius: 15px;
        background-color: #FFFFFFD9;

        font-size: 1.1rem;
        resize: none;
    }
}