.container {
    /* padding: 24px; */
    /* max-width: 1200px; */
    /* margin: 0 auto; */
    width: 100%;
}

.title {
    font-size: 24px;
    margin-bottom: 24px;
    color: #000;
}

.tree {
    position: relative;
}

.messageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    background: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #CCCCCC;
}

.loader, .error, .empty {
    padding: 20px 30px;
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
    background: white;
    border: 2px solid #CCCCCC;
}

.loader {
    background: #CCCCCC;
}

.error {
    border-left: 4px solid #ff0000;
}

.empty {
    background: #CCCCCC;
}