/* 
660
1599 - 540
*/

.wrapper {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.leftContainer {
    padding-right: 12px;
    padding-top: 25px;

    >img {
        cursor: pointer;
    }

}

.rightContainer {}

.infoContainer {
    display: flex;
    align-items: end;
    min-height: 25px;
    max-height: 25px;
    justify-content: space-between;
    font-weight: 600;
    font-size: 10px;
}

.taskType {
    padding-bottom: 5px;
    text-transform: uppercase;
}

.date {
    color: rgba(153, 153, 153, 1);
}

.contentContainer {
    display: flex;
    justify-content: space-between;

    min-width: 640px;
    max-width: 640px;
    min-height: 58px;
    max-height: 58px;

    padding-left: 30px;

    border-radius: 24px 0 24px 0;
    background-color: var(--primary-light);

    cursor: pointer;
}

.textContainer {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding-top: 15px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    cursor: pointer;
}

.delegateContainer {
    display: flex;
    flex-direction: column-reverse;
    padding-right: 6px;
    padding-bottom: 5px;
}

@media (max-width: 1599px) {
    .contentContainer {
        min-width: 540px;
        max-width: 540px;
    }
}