.table {
    width: 100%;
    min-width: 100%;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.row {
    width: 100%;
    min-width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}