.headContainer {
    box-shadow: 0px 0px 10px black;
    background-color: white;
    z-index: 1000;
}

.headRow{
    display: flex;
    align-items: flex-start;
    height: 50px;
    width: 100%;
    flex-direction: column;
    /*img{*/
    /*    display: inline-block;*/
    /*    margin-right: 15px;*/
    /*}*/
}
.blueLine{
    display: block;
    height: 10px;
    width: 100%;
    background-color: #005475;
}
.whiteLine{
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    width: 100%;
    justify-content: space-between;
}
.headElem{
    display: flex;
    flex: 0 1 auto;
    padding: 0 0 0 1px;
    align-items: center;
    justify-content: flex-start;
}
.menu{
    display: flex;
    padding: 0 10px 0 0;
    align-items: center;
}
.icon{
    margin: 0 15px;
}

.txt{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    background: url("../icon/messendger _ avatar.svg") 0 40% no-repeat;
    padding: 0 0 0 30px;
}

.headText{
    color: #005475;
    font-size: 20px;
    font-weight: 600;

}

.sectionName{
    color: #005475;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}