.wrapper {
    position: relative;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    /* max-height: 50%; */
}

.title {
    min-height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    background-color: var(--primary);
    border-radius: 10px 0 0 0;
    color: white;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;

    > div {
        display: flex;
        gap: 8px;
    }

    img {
        width: 17px;
        height: 17px;
        z-index: 1000;
    }
}

.dropdownIcon {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.rotated {
    transform: rotate(90deg);
}

/* Контейнер для списка с фиксированной высотой и скроллом */
.listContainer {
    flex: 1;
    overflow-y: auto;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    /* max-height: 500px; */
    opacity: 1;
    
    /* Внутренняя тень для индикации скролла */
    box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.2);
    position: relative;

}

/* Псевдоэлемент для более плавного градиента вместо резкой тени */
/* .listContainer::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    background: linear-gradient(to bottom, 
                rgba(255, 255, 255, 0) 0%, 
                rgba(255, 255, 255, 0.8) 100%);
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.3s ease;
} */

.listContainer.collapsed {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

/* Контейнер для выбранного элемента */
.singleItemContainer {
    transition: max-height 0.3s ease, opacity 0.3s ease;
    max-height: 100px;
    opacity: 1;
}

.singleItemContainer.collapsed {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

.searchContainer {
    position: absolute;
    top: 15px;
    left: 0;
    width: 0;
    opacity: 0;
    transition: all 0.3s ease;
    overflow: hidden;
    z-index: 1000;
}

.searchContainer.searchActive {
    width: 200px;
    opacity: 1;
}

.searchForm {
    display: flex;
}

.searchInput {
    width: 100%;
    height: 32px;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px 4px 4px 0;
    background-color: var(--primary-light);
    outline: none;
    font-size: 14px;
    color: var(--primary);
    transition: border-color 0.3s ease;
}

.searchInput:focus {
    border-color: var(--second-primary);
}

.searchIcon {
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 2;
}

.searchIcon:hover {
    transform: scale(1.1);
}

@media (max-width: 1500px) {
    .title > div {
        font-size: 19px;
    }
}

@media (max-width: 1450px) {
    .searchInput{
        width: 85%;
    }
}

@media (max-width: 1280px) {
    .searchInput{
        width: 75%;
    }
    .title > div {
        font-size: 18px;
    }
}