.block {
    position: sticky;
    top: 2px;

    height: 35px;
    min-width: 100%;

    margin: 5px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #CCCCCC;

    z-index: 10000;
}


.item {
    flex: 1;
    text-align: center;

    font-size: 14px;
    font-weight: 600;
}

.notActive {
    color: #333333;
    background-color: #CCCCCC;
}

.active {
    color: var(--white);
    background-color: var(--primary);
}

@media (max-width: 1700px) {
  .item {
    font-size: 12px !important;
  }
}
