
.demo-wrapper {
  /* border: 1px solid #000; */
  padding: 10px;
  /* height: 300px; */
  /* height: 100%; */
  /* width: 100%; */
  /* flex: 1 0 auto; */
  /* display: flex; */
  /* min-width: 100%; */
}

.demo-editor {
  background-color: #fff;
  /* width: 100%; */
  /* Смените цвет фона на нужный */
  padding: 10px;
  min-height: 300px;
  /* height: calc(100vh - 315px); */
  /* Высота редактора */
  color: #000;
  /* Цвет текста */
  border-radius: 15px;
  /* flex: 1 0 auto; */
  /* height: 100%; */
}

.demo-toolbar {
  border: 1px solid #ccc;
  margin-bottom: 10px;

}

.rdw-list-dropdown {
  width: 50px;
  z-index: 0;
}

.rdw-text-align-dropdown {
  width: 50px;
  z-index: 0;
}

/*.editor{*/
/*  display: flex;*/
/*  flex: 0 0 auto;*/
/*}*/